ul li::after {
    content: ' - ';
    background: red;
    color: white;
    display: block;
}

::placeholder {
    font-size: 20px;
    color: blue;
}

p {
    font-size: 24px;
}

p::first-letter {
    font-size: 50px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background: red;
}

p::selection {
    background: black;
    color: white;
}