p {
    color: aqua;
    background-color: wheat;
}

.p-one {
    color: initial;
    background-color: initial;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: left;
    text-indent: 50px;
    text-shadow: -1px -1px 1px red;
    text-transform: capitalize;
}