* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.grid1 {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
}

.grid1::after {
    content: '';
    display: block;
    clear: both;
}

.grid1 .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid1 .col-content {
    width: 100%;
    height: 100%;
    background: yellow;
    box-shadow: inset 5px 5px 5px blue,
    5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px blue;
}

@media all and (max-width: 568px) {
    .grid1 .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid1 .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid1 .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid1 .col {
        width: 25%;
    }
}