.grid1 {
    box-sizing: border-box;
    padding: 15px;
}

.grid1 .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid1 .col-content {
    width: 100%;
    height: 100%;
    background: yellow;
}

@media all and (max-width: 568px) {
    .grid1 .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid1 .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid1 .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid1 .col {
        width: 25%;
    }
}