html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.father {
    width: 50rem;
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

.father > div {
    width: 50%;
    height: 50rem;
    background: firebrick;
}
 
p {
    font-size: 2vmax;
}

.color-one {
    background: blue;
}

.color-two {
    background: green;
}