* {
    margin: 0;
    padding: 0;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    width: 300px;
    height: 300px;
    background: blue;
    margin: 20px;
    float: right;
}

p {
    clear: both;
}

.grid1 {
    box-sizing: border-box;
    padding: 15px;
}

.grid1 .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid1 .col-content {
    width: 100%;
    height: 100%;
    background: yellow;
}