* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid div {
    background: blueviolet;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background: darkmagenta;
    grid-column: span 2;
}

.grid1 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid1 div {
    background: yellowgreen;
    min-height: 100px;
}

.grid2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid2 div {
    background: red;
    min-height: 100px;
}

.grid3 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr 2fr);
    gap: 30px;
}

.grid3 div {
    background: gold;
    min-height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid4 {
    width: calc(100% + 30px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-right: -30px;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.grid5 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'nav main'
    'footer';
}

.grid5 div:nth-child(1) {
    background: rebeccapurple;
    grid-area: header;
}

.grid5 div:nth-child(2) {
    background: rebeccapurple;
    grid-area: nav;
}

.grid5 div:nth-child(3) {
    background: rebeccapurple;
    grid-area: main;
}

.grid5 div:nth-child(4) {
    background: rebeccapurple;
    grid-area: footer;
}

@media (max-width: 768px) {
    .grid5 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
        'header'
        'main'
        'nav'
        'footer';
    }
}